<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ParsingServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.resumeparsing.com/ParsingService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ParsingServiceSoap"
                contract="ServiceReference1.ParsingServiceSoap" name="ParsingServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>